<h1>{{ poll.question }}</h1>

<!-- simply show the question and the answers
	<ul>
	{% for choice in poll.choice_set.all %}
		<li>{{ choice.choice_text }}</li>
	{% endfor %}
</ul>
-->

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote_url_alias' poll.id %}" method="post">{% csrf_token %}
{% for choice in poll.choice_set.all %}
    <input type="radio" name="choice_name" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
{% endfor %}
<input type="submit" value="Vote" />
</form>


<br>
<p>
The template system uses dot-lookup syntax to access variable attributes.
In the example of [poll.question], 
first Django does a dictionary lookup on the object poll.
Failing that, it tries an attribute lookup - which works, in this case.
</p>