/*
  lipis
  also add:
  <div class="immage" style="background-image: url({{ photo.image.url }})"></div>
*/
.immage {
    height: 200px;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    }
    
    
/*
  kapatos
  also add:
  <img class="img-rounded" alt="{{ photo.title }}" src="{{ photo.image.url }}" />
*/
.thumbnail {
    max-height: 240px;
    height: 240px;
    width: auto;
    }
.thumbnail img {
    height: 93%;
    width: auto;
    }
