{% extends "base.html" %}
{% load i18n %}
{% load l10n %}

{% block head_title %}TaskBuster Django Tutorial{% endblock %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>{% trans "Welcome to TaskBuster!"%}</h1>
        <p>{% blocktrans %}TaskBuster is a simple Task manager that helps you organize your daylife. </br> You can create todo lists, periodic tasks and more!{% endblocktrans %}</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">{% trans "Learn more"%} &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2 id="local-date">{{today}}</h2>
          <p>This is the time using your "i18n" information</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>        
        </div>
        <div class="col-md-4">
          <h2 id="non-local-date">{{today|unlocalize}}</h2>
          <p>This is the "unlocalize filter" time format.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>        
        </div>
        <div class="col-md-4">
          <h2 id="non-local-date">{% localize off %}{{today}}{% endlocalize %}</h2>
          <p>This is the "localize off" time format.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>        
       </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Company 2015</p>
      </footer>
    </div> <!-- /container -->        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
{% endblock %}
