{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Portfolio Site - Albums
{% endblock title %}

{% block styling %}
    {{ block.super }}
    <!-- Custom styles for this template -->
    <link href="{% static 'bio/css/modern-business.css' %}" rel="stylesheet">
{% endblock styling %}

{% block classbio %}class="active"{% endblock classbio %}

{% block content %}
    <!-- Page Heading/Breadcrumbs -->
    <div class="page-header">
        <h1 class="">Βιογραφικό</h1>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-sm-4">
            <h2>Professional profile</h2>
        </div>
        <div class="col-sm-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in mi justo. Duis eu lectus turpis. Sed a tortor lacus. Nam nec ultricies nunc. Aliquam porta, elit ac condimentum pretium, sapien quam tempor augue, a placerat enim diam interdum leo. Mauris metus metus, sollicitudin eu tincidunt eget, imperdiet dapibus quam.</p>
            <ul>
                <li>Vivamus congue massa et diam ullamcorper ultricies.</li>
                <li>Quisque lobortis feugiat ipsum, lacinia sagittis augue consectetur at.</li>
                <li>Vestibulum pharetra nisl eros, vel iaculis justo.</li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <h2>Work experience</h2>
        </div>
        <div class="col-sm-8">

            <div class="row">
                <div class="col-sm-4">
                    <h3>Front End Developer</h3>
                    <h6>Studio Web, Full-Time</h6>
                    <p style="margin-top:40px;"><strong>Period: </strong> July 2001 - Present day</p>
                    <p><strong>Primary functions: </strong>Aliquam porta, elit ac condimentum pretium, sapien quam tempor augue, a placerat enim diam interdum leo.</p>
                    <p><strong>References: </strong>George Smith</p>
                </div>
                <div class="col-sm-8">
                    <p>Duis eu lectus turpis. Sed a tortor lacus. Nam nec ultricies nunc. Aliquam porta, elit ac condimentum pretium, sapien quam tempor augue, a placerat enim diam interdum leo. Mauris metus metus, sollicitudin eu tincidunt eget, imperdiet dapibus quam.</p>
                    <ul>
                        <li>Vivamus congue massa et diam ullamcorper ultricies.</li>
                        <li>Quisque lobortis feugiat ipsum, lacinia sagittis augue consectetur at.</li>
                        <li>Vestibulum pharetra nisl eros, vel iaculis justo.</li>
                    </ul>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-sm-4">
                    <h3>Front End Developer</h3>
                    <h6>Studio Web, Full-Time</h6>
                    <p style="margin-top:40px;"><strong>Period: </strong> July 2001 - Present day</p>
                    <p><strong>Primary functions: </strong>Aliquam porta, elit ac condimentum pretium, sapien quam tempor augue, a placerat enim diam interdum leo.</p>
                    <p><strong>References: </strong>George Smith</p>
                </div>
                <div class="col-sm-8">
                    <p>Duis eu lectus turpis. Sed a tortor lacus. Nam nec ultricies nunc. Aliquam porta, elit ac condimentum pretium, sapien quam tempor augue, a placerat enim diam interdum leo. Mauris metus metus, sollicitudin eu tincidunt eget, imperdiet dapibus quam.</p>
                    <ul>
                        <li>Vivamus congue massa et diam ullamcorper ultricies.</li>
                        <li>Quisque lobortis feugiat ipsum, lacinia sagittis augue consectetur at.</li>
                        <li>Vestibulum pharetra nisl eros, vel iaculis justo.</li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <h2>Education</h2>
        </div>
        <div class="col-sm-8">
            <h3>FATEC - State College of Sorocaba</h3>
            <h6>Analysis and Systems development</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in mi justo. Duis eu lectus turpis. Sed a tortor lacus. Nam nec ultricies nunc. Aliquam porta, elit ac condimentum pretium, sapien quam tempor augue, a placerat enim diam interdum leo.</p>
        </div>
    </div>
    <hr>

    <!-- Footer -->
    <footer>
        <p>Copyright &copy; Your Website 2014</p>
    </footer>

{% endblock content %}
